Binaries
DerivedDataCache
Intermediate
Saved
Build

**/ControlRig
**/EchoContent
**/AnimalVarietyPack
**/BlackAlder
**/Landscape
**/MedievalDungeon
**/Megascans
**/MSPresets
**/StarterContent
**/Assets
**/Mixamo
**/ParagonMinions

.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
